[flake8]
max-line-length = 100
max-complexity = 10
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    .tox,
    .mypy_cache,
    .pytest_cache
ignore =
    E203,
    E226,
    E228,
    E501,
    W503,
    D107,
    D200,
    D212,
    D403,
    D415,
    C901,
    B007,
    B011,
    F841
per-file-ignores =
    __init__.py: F401, D104
    tests/*: D100, D101, D102, D103, F401, F811, F841, B011
    src/log_filter/processing/pipeline.py: F401, F811
    src/log_filter/domain/models.py: F401, F811

# Docstring settings
docstring-convention = google
